@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --timing: 400ms;
  --rotation: 20deg;
}
htlm {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: black;
}

.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  pointer-events: none;
  z-index: 998;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-underline-from-left:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 32px;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(18, 214, 214, 0.5),
    0px 2px 4px rgba(18, 214, 214, 0.5),
    0px 4px 8px rgba(18, 214, 214, 0.5),
    0px 8px 16px rgba(18, 214, 214, 0.5),
    0px -1px 2px rgba(18, 214, 214, 0.5),
    0px -2px 4px rgba(18, 214, 214, 0.5),
    0px -4px 8px rgba(18, 214, 214, 0.5),
    0px -8px 16px rgba(18, 214, 214, 0.5),
    0px 1px 2px rgb(255, 0, 255),
    0px 2px 4px rgb(255, 0, 255),
    0px 4px 8px rgb(255, 0, 255),
    0px 8px 16px rgb(255, 0, 255),
    0px -1px 2px rgb(255, 0, 255),
    0px -2px 4px rgb(255, 0, 255),
    0px -4px 8px rgb(255, 0, 255),
    0px -8px 16px rgb(255, 0, 255);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

@media (max-width: 1024px) {
  .hvr-underline-from-left {
    display: none;
  }
  .custom-cursor {
    display: none;
  }
  .selected {
    display: none;
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  position: relative;
}

.loader:before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
}

.loader-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader-block {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  animation: loader_562 1.2s cubic-bezier(0.5, 0, 0.5, 1)
    infinite;
}

.loader-block:nth-child(1) {
  animation-delay: 0.1s;
}

.loader-block:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-block:nth-child(3) {
  animation-delay: 0.3s;
}

.loader-block:nth-child(4) {
  animation-delay: 0.4s;
}

.loader-block:nth-child(5) {
  animation-delay: 0.5s;
}

.loader-block:nth-child(6) {
  animation-delay: 0.6s;
}

.loader-block:nth-child(7) {
  animation-delay: 0.7s;
}

.loader-block:nth-child(8) {
  animation-delay: 0.8s;
}

@keyframes loader_562 {
  0% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }

  20% {
    transform: scale(1, 2.5);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
  }

  40% {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-inXTWO {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.heroImg {
  opacity: 0;
  animation: fade-in 1s ease forwards;
}

.fondo {
  background-image: url('../public/images/Lineas.png');
}
.fondo3D {
  background-image: url('../public/images/2D.png');
  background-size: contain;
}
.fondo4D {
  background-image: url('../public/images/background_maycamevolve.png');
  background-size: cover;
}
.fondo5D {
  background-image: url('../public/images/marco2.jpg');
  background-size: cover;
  background-position: center;
}
.fondoNav {
  background-image: url('../public/images/fondonav.png');
  background-repeat: no-repeat;
}

.compressedbg {
  background-image: url('../public/images/compressedbg.webp');
  background-size: cover;
}

.borderB {
  box-shadow: 0px 1px 2px rgba(18, 214, 214, 0.5),
    0px 2px 4px rgba(18, 214, 214, 0.5),
    0px 4px 8px rgba(18, 214, 214, 0.5),
    0px 8px 16px rgba(18, 214, 214, 0.5),
    0px -1px 2px rgba(18, 214, 214, 0.5),
    0px -2px 4px rgba(18, 214, 214, 0.5),
    0px -4px 8px rgba(18, 214, 214, 0.5),
    0px -8px 16px rgba(18, 214, 214, 0.5),
    0px 1px 2px rgb(255, 0, 255),
    0px 2px 4px rgb(255, 0, 255),
    0px 4px 8px rgb(255, 0, 255),
    0px 8px 16px rgb(255, 0, 255),
    0px -1px 2px rgb(255, 0, 255),
    0px -2px 4px rgb(255, 0, 255),
    0px -4px 8px rgb(255, 0, 255),
    0px -8px 16px rgb(255, 0, 255);
}

.selected {
  text-decoration: underline;
  text-underline-position: under;
  text-underline-offset: 5px;
  text-shadow: 0px 1px 2px rgba(18, 214, 214, 0.5),
    0px 2px 4px rgba(18, 214, 214, 0.5),
    0px 4px 8px rgba(18, 214, 214, 0.5),
    0px 8px 16px rgba(18, 214, 214, 0.5),
    0px -1px 2px rgba(18, 214, 214, 0.5),
    0px -2px 4px rgba(18, 214, 214, 0.5),
    0px -4px 8px rgba(18, 214, 214, 0.5),
    0px -8px 16px rgba(18, 214, 214, 0.5),
    0px 1px 2px rgb(255, 0, 255),
    0px 2px 4px rgb(255, 0, 255),
    0px 4px 8px rgb(255, 0, 255),
    0px 8px 16px rgb(255, 0, 255),
    0px -1px 2px rgb(255, 0, 255),
    0px -2px 4px rgb(255, 0, 255),
    0px -4px 8px rgb(255, 0, 255),
    0px -8px 16px rgb(255, 0, 255); /* Agrega una sombra al subrayado */
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.15;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.15;
  }
  70% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.borderB2 {
  box-shadow: 0px 1px 2px rgba(18, 214, 214, 0.5),
    0px 2px 8px rgba(18, 214, 214, 0.5),
    0px 4px 16px rgba(18, 214, 214, 0.5),
    0px 8px 72px rgba(18, 214, 214, 0.5),
    0px -1px 4px rgba(18, 214, 214, 0.5),
    0px -2px 8px rgba(18, 214, 214, 0.5),
    0px -4px 16px rgba(18, 214, 214, 0.5),
    0px -8px 72px rgba(18, 214, 214, 0.5),
    0px 1px 4px rgb(255, 0, 255),
    0px 2px 8px rgb(255, 0, 255),
    0px 4px 16px rgb(255, 0, 255),
    0px 8px 16px rgb(255, 0, 255),
    0px -1px 4px rgb(255, 0, 255),
    0px -2px 8px rgb(255, 0, 255),
    0px -4px 16px rgb(255, 0, 255),
    0px -8px 16px rgb(255, 0, 255);
}

.textsh {
  text-shadow: 0px 1px 2px rgba(18, 214, 214, 0.5),
    0px 2px 4px rgba(18, 214, 214, 0.5),
    0px 4px 8px rgba(18, 214, 214, 0.5),
    0px 8px 16px rgba(18, 214, 214, 0.5),
    0px -1px 2px rgba(18, 214, 214, 0.5),
    0px -2px 4px rgba(18, 214, 214, 0.5),
    0px -4px 8px rgba(18, 214, 214, 0.5),
    0px -8px 16px rgba(18, 214, 214, 0.5);
  /* Agrega una sombra al subrayado */
}
.textsh2 {
  text-shadow: 0px 1px 2px rgb(247, 108, 198),
    0px 2px 4px rgb(247, 108, 198),
    0px 4px 8px rgb(247, 108, 198),
    0px 8px 16px rgb(247, 108, 198),
    0px -1px 2px rgb(247, 108, 198),
    0px -2px 4px rgb(247, 108, 198),
    0px -4px 8px rgb(247, 108, 198),
    0px -8px 16px rgb(247, 108, 198); /* Agrega una sombra al subrayado */
}
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #715bd4;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(
    0.52,
    1.64,
    0.37,
    0.66
  );
  transition-timing-function: cubic-bezier(
    0.52,
    1.64,
    0.37,
    0.66
  );
}
